/**
    main classes
*/
body {
    margin:0 auto;
    max-width: 630px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    background: url(../img/logo.png) no-repeat left;
    padding: 20px 20px 20px 60px;
    width: 390px;
    margin: 0 auto;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px 0;
}

.block {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    width: 100%;
}

/**
    button classes
*/
.btn {
    display: inline-block;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: #fff;
    background-color: #428bca;
    border: 1px solid #357ebd;
}

.btn:hover {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.btn.disabled {
    background-color: #a8c6e8;
    border-color: #6dbbbf;
    cursor: default;
}

/**
    table classes
*/
.table {
    display: table;
    width: 100%;
    background:  #ebe3e3;
    font-size: .8em;
}

.table-row {
    display: table-row;
    clear: both;
}

.table-row:nth-child(even) {
    background: #fff;
}

.table-col {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-top: 2px solid #d6c5c5;
    padding: 10px;
}

.table-col:first-child {
    text-align: left;
}

.table-col:last-child {
    text-align: right;
}

/**
    helper classes
*/
.left {
    float: left;
}

.right {
    float: right;
}

.part {
    width: 300px;
    display: inline-block;
}

/**
    other classes
*/
.caption {
    font-weight: bold;
}

.symbols select {
    width: 80px;
}
